<span class="user-id post-meta">
  <span class="bullet" aria-hidden="true" style="padding-left:4px">•</span>
  <a data-action="set-nickname" id="" title="Set a nickname" class="time-ago"></a>
</span>
