<li class="removed-post post minimized" id="">
	<div data-role="post-content" class="post-content">
		<div class="indicator"></div>

		<div class="avatar">
			<img class="removed-avatar" src="https://c.disquscdn.com/next/embed/assets/img/noavatar92.7b2fde640943965cc88df0cdee365907.png">
		</div>

		<div class="post-body">
			<div class="post-message">
				<p><i>Removed comment.</i></p>
			</div>

      <header class="comment__header">
				<span class="post-byline">
					<span>
						<span class="author publisher-anchor-color">
							<a href="" data-action="profile" data-username="" target="_blank" rel="noopener noreferrer">Test</a>
						</span>
					</span>
				</span>
			</header>
		</div>

		<ul class="post-menu dropdown" data-role="menu">
			<li class="collapse">
				<a data-action="remove" title="Remove">
					<span style="font-size: 12px">Revive</span>
				</a>
			</li>
		</ul>

	</div>
</li>
